@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

@media (min-width: 600px) {
  .col {
    padding-right: 10px;
    padding-left: 10px; } }

.col-12 {
  width: 100%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66667%; }

.col-6 {
  width: 50%; }

.col-4 {
  width: 33.33333%; }

.col-2 {
  width: 16.66667%; }

.col-1 {
  width: 8.33333%; }

.col-0 {
  width: 0%; }

.col-sm6 {
  width: 50%; }

@media (max-width: 599px) {
  .col-12 {
    width: 100%; }
  .col-9 {
    width: 75%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 100%; }
  .col-4 {
    width: 100%; }
  .col-2 {
    width: 16.66667%; }
  .col-1 {
    width: 8.33333%; }
  .col-0 {
    width: 0%; } }

.header {
  width: 100%;
  position: static;
  background: rgba(0, 0, 0, 0.3);
  height: 60px;
  padding: 10px;
  padding-bottom: 20px; }
  .header__title {
    display: inline;
    color: white;
    font-family: 'Roboto Slab', georgia, serif;
    font-size: 21px; }
  .header__button {
    float: right;
    max-width: 60px;
    margin-right: 20px; }
  .header__text {
    color: white;
    text-decoration: none;
    float: right;
    padding: 8px 20px 0 20px; }

.heading {
  width: 100%;
  padding: 0;
  border: none;
  font-size: 2rem; }
  .heading--1 {
    font-family: 'Roboto Slab', georgia, serif;
    font-size: 3rem; }
  .heading--2 {
    font-family: 'Roboto Slab', georgia, serif;
    font-size: 2rem; }
  .heading--3 {
    font-family: 'Roboto Slab', georgia, serif;
    font-size: 1.5rem; }

.text {
  display: flex;
  flex-flow: row; }
  .text__p {
    word-wrap: break-word; }
  .text__check {
    width: 20px;
    height: 20px; }
  .text__section {
    display: inline-block; }
  .text__heading {
    word-wrap: break-word; }
  .text__um {
    margin-top: 30px; }
    .text__um__p {
      margin-bottom: 20px; }
    .text__um__blockquote {
      float: right;
      padding: 30px;
      font-style: italic;
      font-size: 18px; }
      .text__um__blockquote__p {
        font-style: normal;
        font-size: 14px; }

.button {
  display: inline-block;
  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    border-color: #eee;
    color: #999;
    background-color: #eee; }

.header__button {
  max-width: 60px; }

.banner {
  height: 600px;
  display: flex;
  width: 100%;
  padding: 0;
  border: none;
  position: relative;
  text-align: center;
  align-items: center; }
  .banner__noanim__heading--1 {
    margin: 30px;
    color: white; }
  .banner__background {
    background: url("bg-subpage.jpg") fixed 50% 50%;
    background-size: cover; }
  .banner__content {
    margin: auto; }
  .banner__heading--1 {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2s; }
  .banner__heading--2 {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s; }
  .banner__button {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 3s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.profile {
  text-align: center; }
  .profile__img {
    border-radius: 50%; }

.bottom {
  text-align: center;
  display: flex;
  justify-content: center; }
  .bottom__button {
    margin-top: 20px; }

.footer {
  width: 100%;
  position: static;
  height: 60px;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
  border-collapse: collapse; }
  .footer__bg {
    background: #282828; }
  .footer__copyright {
    background: #282828;
    color: white;
    font-family: 'Roboto Slab', georgia, serif;
    font-size: 21px; }
  .footer__text {
    color: white;
    text-decoration: none;
    padding: 8px 20px 0 20px;
    margin: 0px;
    padding: 0;
    border-bottom: solid #646464 1px; }
