.footer {
  width: 100%;
  position: static;
  height: 60px;
  padding: $gutter/2;
  padding-bottom: $gutter;
  text-align: center;
  align-items: center;
  border-collapse: collapse;
  &__bg{
    background: rgb(40, 40, 40);
  }
  &__copyright{
    background: rgb(40, 40, 40);
    color: white;
    font-family: 'Roboto Slab', georgia, serif;
    font-size: 21px;

  }
  &__text{
    color: white;
    text-decoration: none;
    padding: 8px $gutter 0 $gutter;
    margin: 0px;
    padding: 0;
    border-bottom: solid rgb(100, 100, 100) 1px;
    align-text: center;
  }
}
