.footer {
  width: 100%;
  position: static;
  padding: $gutter/2;
  padding-bottom: $gutter;
  border-collapse: collapse;
  background: rgb(40, 40, 40);
  &__copyright{
    background: rgb(40, 40, 40);
    width: 100%;
    color: white;
    font-family: 'Roboto Slab', georgia, serif;
    font-size: 21px;
    text-align: center;
    line-height: 40px;
  }
  &__text{
    color: white;
    text-decoration: none;
    padding: 8px $gutter 0 $gutter;
    margin: 0px;
    padding: 0;
    border-bottom: solid rgb(100, 100, 100) 1px;
    text-align: center;
  }
}
